# 이 줄을 맨 위에 추가하면 무조건 CPU용(가벼운 것)만 받습니다.
--extra-index-url https://download.pytorch.org/whl/cpu

# Web Framework
fastapi
uvicorn[standard]

# Database (PostgreSQL & ORM)
sqlalchemy
psycopg2-binary
alembic  # 데이터베이스 마이그레이션 도구 (선택사항이지만 권장)
asyncpg

# Validation & Utilities
pydantic[email]
python-multipart  # 파일 업로드 등을 처리할 경우 필요
requests          # 외부 API 호출(또는 AI 서버 통신)용

# AI / Computer Vision
ultralytics
opencv-python-headless  # 도커 환경에서는 GUI가 없는 headless 버전을 권장합니다.